body {
  h1 {
    color: rgb(70, 130, 180);
  }
}
nav {
  margin-bottom: 20px;
}

.container {
  margin: 2em;
  padding: 0px;
}

.white-bg {
  background-color: white;
}

.black-bd {
  border: solid black 1px;
}

.shadow {
  box-shadow: 0px 2px 5px rgba(black, 0.5);
}
