<div class="list-container">
  <div class="doctor_form_container">
  <%= simple_form_for @doctor, url: health_care_company_doctors_path do |f| %>
    <%= f.input :name %>
    <%= f.submit "Confirm",class: "btn btn-light"%>
  <% end %>
</div>

</div>