// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.doctor-info {
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin: 4px;
}

.week {
  display: flex;
  .day {
    display: flex;
    flex-direction: column;
    width: 14%;
    margin: 4px;
    text-align: center;
    .delete-hour {
      width: 3em;
      text-align: center;
    }
  }
}

.hour-actions {
  max-width: fit-content;
}

.center-div {
  margin: 0 auto;
}
