// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.day {
  display: flex;
  flex-direction: column;
  width: 14%;
}

.week {
  display: flex;
}

.doctor-info {
  display: flex;
  justify-content: space-between;
  width: 28%;
}
