// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hours {
  .container {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
  display: flex;
  flex-direction: column;
  .right-buttons {
    display: flex;
    justify-content: flex-end;
  }
}
